<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.apple.dt.unit.jdApplication</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.cocoaTouchApplicationBase</string>
		<string>com.apple.dt.unit.coreDataCocoaTouchApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>几度项目框架</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Nodes</key>
	<array>
		<string>Info.plist:CFBundleDevelopmentRegion</string>
		<string>Info.plist:CFBundleShortVersionString</string>
		<string>Info.plist:CFBundleVersion</string>
		<string>Info.plist:NSAppTransportSecurity</string>
		<string>Info.plist:NSLocationUsageDescription</string>
		<string>Info.plist:NSLocationWhenInUseUsageDescription</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>AppDelegate.m:imports</key>
		<string>#import &quot;JDConfig.h&quot;</string>
		<key>AppDelegate.m:implementation:methods:applicationdidFinishLaunchingWithOptions:body</key>
		<string>#ifndef JD_UNIT_TESTING
[self configService];
[self synchronizePublicData];
    
// 配置UI
[self configUI];
#endif</string>
		<key>AppDelegate.m:implementation:methods</key>
		<string>#pragma mark - 服务配置

/**
 *  配置服务相关
 */
- (void)configService
{
}

#pragma mark - UI配置

/**
 *  设置UI相关的配置
 */
- (void)configUI
{
    self.window = [[UIWindow alloc] initWithFrame:[[UIScreen mainScreen] bounds]];
    [self toSplash];
    [self.window makeKeyAndVisible];
}

/**
 *  跳转至起始页
 */
- (void)toSplash
{
}

/**
 *  跳转至入口页
 */
- (void)toEntry
{
}

/**
 *  跳转至主页面
 */
- (void)toMain
{
    // synchronize data
    [self synchronizePrivateData];
}

#pragma mark - 配置数据

/**
 *  同步公共数据
 */
- (void)synchronizePublicData
{
}

/**
 *  同步私人数据
 */
- (void)synchronizePrivateData
{
}

#pragma mark - Life Circle
</string>
		<key>Info.plist:CFBundleDevelopmentRegion</key>
		<string>&lt;key&gt;CFBundleDevelopmentRegion&lt;/key&gt;
&lt;string&gt;zh_CN&lt;/string&gt;</string>
		<key>Info.plist:CFBundleShortVersionString</key>
		<string>&lt;key&gt;CFBundleShortVersionString&lt;/key&gt;
&lt;string&gt;1.0.0&lt;/string&gt;</string>
		<key>Info.plist:CFBundleVersion</key>
		<string>&lt;key&gt;CFBundleVersion&lt;/key&gt;
&lt;string&gt;1000001&lt;/string&gt;</string>
		<key>Info.plist:NSAppTransportSecurity</key>
		<string>&lt;key&gt;NSAppTransportSecurity&lt;/key&gt;
&lt;dict&gt;
	&lt;key&gt;NSAllowsArbitraryLoads&lt;/key&gt;
	&lt;true/&gt;
&lt;/dict&gt;</string>
		<key>Info.plist:NSLocationUsageDescription</key>
		<string>&lt;key&gt;NSLocationUsageDescription&lt;/key&gt;
&lt;string&gt;开启地理位置&lt;/string&gt;</string>
		<key>Info.plist:NSLocationWhenInUseUsageDescription</key>
		<string>&lt;key&gt;NSLocationWhenInUseUsageDescription&lt;/key&gt;
&lt;string&gt;开启地理位置&lt;/string&gt;</string>
	</dict>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Objective-C</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>InfoPlist.strings</string>
						<string>src/Define/JDConfig.h</string>
						<string>src/Define/LayoutDefine/JDLayoutCommon.h</string>
						<string>src/Define/LayoutDefine/Common/JDLayoutCommonColor.h</string>
						<string>src/Define/LayoutDefine/Common/JDLayoutCommonFont.h</string>
						<string>src/Define/LayoutDefine/Common/JDLayoutCommonMargin.h</string>
						<string>src/Define/URLDefine/JDURLCommon.h</string>
						<string>src/Category/NSDate+Format/NSDate+Format.h</string>
						<string>src/Category/NSDate+Format/NSDate+Format.m</string>
						<string>src/Category/NSDate+Format/DateFormat.strings</string>
						<string>src/Category/NSObject+Attribute/NSObject+Attribute.h</string>
						<string>src/Category/NSObject+Attribute/NSObject+Attribute.m</string>
						<string>src/Category/NSString+ComputeSize/NSString+ComputeSize.h</string>
						<string>src/Category/NSString+ComputeSize/NSString+ComputeSize.m</string>
						<string>src/Library/UIImage+ResizeCategory/UIImage+ResizeCategory.h</string>
						<string>src/Library/UIImage+ResizeCategory/UIImage+ResizeCategory.m</string>
						<string>src/Library/UIView+FrameExt/UIView+Utils.h</string>
						<string>src/Library/UIView+FrameExt/UIView+Utils.m</string>
						<string>src/Library/UIView+FrameExt/UIViewExt.h</string>
						<string>src/Library/UIView+FrameExt/UIViewExt.m</string>
						<string>src/Models/JDPassValueDelegate.h</string>
						<string>src/Models/Service/JDKVCacheDelegate.h</string>
						<string>src/Models/Service/APIService/JDAPIService.h</string>
						<string>src/Models/Service/APIService/JDAPIService.m</string>
						<string>src/Models/Service/MemoryCache/JDMemoryCache.h</string>
						<string>src/Models/Service/MemoryCache/JDMemoryCache.m</string>
						<string>src/Models/Service/MemoryCache/JDMemoryKeysDefine.h</string>
						<string>src/Models/Service/MiniCache/JDMiniCache.h</string>
						<string>src/Models/Service/MiniCache/JDMiniCache.m</string>
						<string>src/Models/Service/MiniCache/JDMiniKeysDefine.h</string>
						<string>src/Models/Util/JDFile.h</string>
						<string>src/Models/Util/JDFile.m</string>
						<string>src/Models/Util/JDUtility.h</string>
						<string>src/Models/Util/JDUtility.m</string>
						<string>src/Resources/LocalizableStrings/Error.strings</string>
						<string>src/Resources/LocalizableStrings/Localizable.strings</string>
						<string>src/ViewControllers/BaseControllers/JDBaseCollectionViewController.h</string>
						<string>src/ViewControllers/BaseControllers/JDBaseCollectionViewController.m</string>
						<string>src/ViewControllers/BaseControllers/JDBaseNavigationController.h</string>
						<string>src/ViewControllers/BaseControllers/JDBaseNavigationController.m</string>
						<string>src/ViewControllers/BaseControllers/JDBasePageViewController.h</string>
						<string>src/ViewControllers/BaseControllers/JDBasePageViewController.m</string>
						<string>src/ViewControllers/BaseControllers/JDBaseSplitViewController.h</string>
						<string>src/ViewControllers/BaseControllers/JDBaseSplitViewController.m</string>
						<string>src/ViewControllers/BaseControllers/JDBaseTabBarController.h</string>
						<string>src/ViewControllers/BaseControllers/JDBaseTabBarController.m</string>
						<string>src/ViewControllers/BaseControllers/JDBaseTableViewController.h</string>
						<string>src/ViewControllers/BaseControllers/JDBaseTableViewController.m</string>
						<string>src/ViewControllers/BaseControllers/JDBaseViewController.h</string>
						<string>src/ViewControllers/BaseControllers/JDBaseViewController.m</string>
						<string>src/Views/BaseViews/JDBaseButton.h</string>
						<string>src/Views/BaseViews/JDBaseButton.m</string>
						<string>src/Views/BaseViews/JDBaseCollectionViewCell.h</string>
						<string>src/Views/BaseViews/JDBaseCollectionViewCell.m</string>
						<string>src/Views/BaseViews/JDBaseTableViewCell.h</string>
						<string>src/Views/BaseViews/JDBaseTableViewCell.m</string>
						<string>src/Views/BaseViews/JDBaseView.h</string>
						<string>src/Views/BaseViews/JDBaseView.m</string>
						<string>src/Views/JDBadge/JDBadge.h</string>
						<string>src/Views/JDBadge/JDBadge.m</string>
						<string>src/Views/JDPlaceholderTextView/JDPlaceholderTextView.h</string>
						<string>src/Views/JDPlaceholderTextView/JDPlaceholderTextView.m</string>
					</array>
					<key>Definitions</key>
					<dict>
						<key>InfoPlist.strings</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Supporting Files</string>
							</array>
							<key>Path</key>
							<string>InfoPlist.strings</string>
						</dict>
						<key>src/Define/JDConfig.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Define</string>
							</array>
							<key>Path</key>
							<string>./src/Define/JDConfig.h</string>
						</dict>
						<key>src/Define/LayoutDefine/JDLayoutCommon.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Define</string>
								<string>LayoutDefine</string>
							</array>
							<key>Path</key>
							<string>./src/Define/LayoutDefine/JDLayoutCommon.h</string>
						</dict>
						<key>src/Define/LayoutDefine/Common/JDLayoutCommonColor.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Define</string>
								<string>LayoutDefine</string>
								<string>Common</string>
							</array>
							<key>Path</key>
							<string>./src/Define/LayoutDefine/Common/JDLayoutCommonColor.h</string>
						</dict>
						<key>src/Define/LayoutDefine/Common/JDLayoutCommonFont.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Define</string>
								<string>LayoutDefine</string>
								<string>Common</string>
							</array>
							<key>Path</key>
							<string>./src/Define/LayoutDefine/Common/JDLayoutCommonFont.h</string>
						</dict>
						<key>src/Define/LayoutDefine/Common/JDLayoutCommonMargin.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Define</string>
								<string>LayoutDefine</string>
								<string>Common</string>
							</array>
							<key>Path</key>
							<string>./src/Define/LayoutDefine/Common/JDLayoutCommonMargin.h</string>
						</dict>
						<key>src/Define/URLDefine/JDURLCommon.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Define</string>
								<string>URLDefine</string>
							</array>
							<key>Path</key>
							<string>./src/Define/URLDefine/JDURLCommon.h</string>
						</dict>
						<key>src/Category/NSDate+Format/NSDate+Format.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Category</string>
								<string>NSDate+Format</string>
							</array>
							<key>Path</key>
							<string>./src/Category/NSDate+Format/NSDate+Format.h</string>
						</dict>
						<key>src/Category/NSDate+Format/NSDate+Format.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Category</string>
								<string>NSDate+Format</string>
							</array>
							<key>Path</key>
							<string>./src/Category/NSDate+Format/NSDate+Format.m</string>
						</dict>
						<key>src/Category/NSDate+Format/DateFormat.strings</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Category</string>
								<string>NSDate+Format</string>
							</array>
							<key>Path</key>
							<string>./src/Category/NSDate+Format/DateFormat.strings</string>
						</dict>
						<key>src/Category/NSObject+Attribute/NSObject+Attribute.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Category</string>
								<string>NSObject+Attribute</string>
							</array>
							<key>Path</key>
							<string>./src/Category/NSObject+Attribute/NSObject+Attribute.h</string>
						</dict>
						<key>src/Category/NSObject+Attribute/NSObject+Attribute.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Category</string>
								<string>NSObject+Attribute</string>
							</array>
							<key>Path</key>
							<string>./src/Category/NSObject+Attribute/NSObject+Attribute.m</string>
						</dict>
						<key>src/Category/NSString+ComputeSize/NSString+ComputeSize.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Category</string>
								<string>NSString+ComputeSize</string>
							</array>
							<key>Path</key>
							<string>./src/Category/NSString+ComputeSize/NSString+ComputeSize.h</string>
						</dict>
						<key>src/Category/NSString+ComputeSize/NSString+ComputeSize.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Category</string>
								<string>NSString+ComputeSize</string>
							</array>
							<key>Path</key>
							<string>./src/Category/NSString+ComputeSize/NSString+ComputeSize.m</string>
						</dict>
						<key>src/Library/UIImage+ResizeCategory/UIImage+ResizeCategory.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Library</string>
								<string>UIImage+ResizeCategory</string>
							</array>
							<key>Path</key>
							<string>./src/Library/UIImage+ResizeCategory/UIImage+ResizeCategory.h</string>
						</dict>
						<key>src/Library/UIImage+ResizeCategory/UIImage+ResizeCategory.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Library</string>
								<string>UIImage+ResizeCategory</string>
							</array>
							<key>Path</key>
							<string>./src/Library/UIImage+ResizeCategory/UIImage+ResizeCategory.m</string>
						</dict>
						<key>src/Library/UIView+FrameExt/UIView+Utils.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Library</string>
								<string>UIView+FrameExt</string>
							</array>
							<key>Path</key>
							<string>./src/Library/UIView+FrameExt/UIView+Utils.h</string>
						</dict>
						<key>src/Library/UIView+FrameExt/UIView+Utils.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Library</string>
								<string>UIView+FrameExt</string>
							</array>
							<key>Path</key>
							<string>./src/Library/UIView+FrameExt/UIView+Utils.m</string>
						</dict>
						<key>src/Library/UIView+FrameExt/UIViewExt.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Library</string>
								<string>UIView+FrameExt</string>
							</array>
							<key>Path</key>
							<string>./src/Library/UIView+FrameExt/UIViewExt.h</string>
						</dict>
						<key>src/Library/UIView+FrameExt/UIViewExt.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Library</string>
								<string>UIView+FrameExt</string>
							</array>
							<key>Path</key>
							<string>./src/Library/UIView+FrameExt/UIViewExt.m</string>
						</dict>
						<key>src/Models/JDPassValueDelegate.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Models</string>
							</array>
							<key>Path</key>
							<string>./src/Models/JDPassValueDelegate.h</string>
						</dict>
						<key>src/Models/Service/JDKVCacheDelegate.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Models</string>
								<string>Service</string>
							</array>
							<key>Path</key>
							<string>src/Models/Service/JDKVCacheDelegate.h</string>
						</dict>
						<key>src/Models/Service/APIService/JDAPIService.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Models</string>
								<string>Service</string>
								<string>APIService</string>
							</array>
							<key>Path</key>
							<string>src/Models/Service/APIService/JDAPIService.h</string>
						</dict>
						<key>src/Models/Service/APIService/JDAPIService.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Models</string>
								<string>Service</string>
								<string>APIService</string>
							</array>
							<key>Path</key>
							<string>src/Models/Service/APIService/JDAPIService.m</string>
						</dict>
						<key>src/Models/Service/MemoryCache/JDMemoryCache.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Models</string>
								<string>Service</string>
								<string>MemoryCache</string>
							</array>
							<key>Path</key>
							<string>src/Models/Service/MemoryCache/JDMemoryCache.h</string>
						</dict>
						<key>src/Models/Service/MemoryCache/JDMemoryCache.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Models</string>
								<string>Service</string>
								<string>MemoryCache</string>
							</array>
							<key>Path</key>
							<string>src/Models/Service/MemoryCache/JDMemoryCache.m</string>
						</dict>
						<key>src/Models/Service/MemoryCache/JDMemoryKeysDefine.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Models</string>
								<string>Service</string>
								<string>MemoryCache</string>
							</array>
							<key>Path</key>
							<string>src/Models/Service/MemoryCache/JDMemoryKeysDefine.h</string>
						</dict>
						<key>src/Models/Service/MiniCache/JDMiniCache.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Models</string>
								<string>Service</string>
								<string>MiniCache</string>
							</array>
							<key>Path</key>
							<string>src/Models/Service/MiniCache/JDMiniCache.h</string>
						</dict>
						<key>src/Models/Service/MiniCache/JDMiniCache.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Models</string>
								<string>Service</string>
								<string>MiniCache</string>
							</array>
							<key>Path</key>
							<string>src/Models/Service/MiniCache/JDMiniCache.m</string>
						</dict>
						<key>src/Models/Service/MiniCache/JDMiniKeysDefine.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Models</string>
								<string>Service</string>
								<string>MiniCache</string>
							</array>
							<key>Path</key>
							<string>src/Models/Service/MiniCache/JDMiniKeysDefine.h</string>
						</dict>
						<key>src/Models/Util/JDFile.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Models</string>
								<string>Util</string>
							</array>
							<key>Path</key>
							<string>src/Models/Util/JDFile.h</string>
						</dict>
						<key>src/Models/Util/JDFile.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Models</string>
								<string>Util</string>
							</array>
							<key>Path</key>
							<string>src/Models/Util/JDFile.m</string>
						</dict>
						<key>src/Models/Util/JDUtility.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Models</string>
								<string>Util</string>
							</array>
							<key>Path</key>
							<string>src/Models/Util/JDUtility.h</string>
						</dict>
						<key>src/Models/Util/JDUtility.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Models</string>
								<string>Util</string>
							</array>
							<key>Path</key>
							<string>src/Models/Util/JDUtility.m</string>
						</dict>
						<key>src/Resources/LocalizableStrings/Error.strings</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Resources</string>
								<string>LocalizableStrings</string>
							</array>
							<key>Path</key>
							<string>src/Resources/LocalizableStrings/Error.strings</string>
						</dict>
						<key>src/Resources/LocalizableStrings/Localizable.strings</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Resources</string>
								<string>LocalizableStrings</string>
							</array>
							<key>Path</key>
							<string>src/Resources/LocalizableStrings/Localizable.strings</string>
						</dict>
						<key>src/ViewControllers/BaseControllers/JDBaseCollectionViewController.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>ViewControllers</string>
								<string>BaseControllers</string>
							</array>
							<key>Path</key>
							<string>src/ViewControllers/BaseControllers/JDBaseCollectionViewController.h</string>
						</dict>
						<key>src/ViewControllers/BaseControllers/JDBaseCollectionViewController.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>ViewControllers</string>
								<string>BaseControllers</string>
							</array>
							<key>Path</key>
							<string>src/ViewControllers/BaseControllers/JDBaseCollectionViewController.m</string>
						</dict>
						<key>src/ViewControllers/BaseControllers/JDBaseNavigationController.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>ViewControllers</string>
								<string>BaseControllers</string>
							</array>
							<key>Path</key>
							<string>src/ViewControllers/BaseControllers/JDBaseNavigationController.h</string>
						</dict>
						<key>src/ViewControllers/BaseControllers/JDBaseNavigationController.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>ViewControllers</string>
								<string>BaseControllers</string>
							</array>
							<key>Path</key>
							<string>src/ViewControllers/BaseControllers/JDBaseNavigationController.m</string>
						</dict>
						<key>src/ViewControllers/BaseControllers/JDBasePageViewController.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>ViewControllers</string>
								<string>BaseControllers</string>
							</array>
							<key>Path</key>
							<string>src/ViewControllers/BaseControllers/JDBasePageViewController.h</string>
						</dict>
						<key>src/ViewControllers/BaseControllers/JDBasePageViewController.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>ViewControllers</string>
								<string>BaseControllers</string>
							</array>
							<key>Path</key>
							<string>src/ViewControllers/BaseControllers/JDBasePageViewController.m</string>
						</dict>
						<key>src/ViewControllers/BaseControllers/JDBaseSplitViewController.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>ViewControllers</string>
								<string>BaseControllers</string>
							</array>
							<key>Path</key>
							<string>src/ViewControllers/BaseControllers/JDBaseSplitViewController.h</string>
						</dict>
						<key>src/ViewControllers/BaseControllers/JDBaseSplitViewController.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>ViewControllers</string>
								<string>BaseControllers</string>
							</array>
							<key>Path</key>
							<string>src/ViewControllers/BaseControllers/JDBaseSplitViewController.m</string>
						</dict>
						<key>src/ViewControllers/BaseControllers/JDBaseTabBarController.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>ViewControllers</string>
								<string>BaseControllers</string>
							</array>
							<key>Path</key>
							<string>src/ViewControllers/BaseControllers/JDBaseTabBarController.h</string>
						</dict>
						<key>src/ViewControllers/BaseControllers/JDBaseTabBarController.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>ViewControllers</string>
								<string>BaseControllers</string>
							</array>
							<key>Path</key>
							<string>src/ViewControllers/BaseControllers/JDBaseTabBarController.m</string>
						</dict>
						<key>src/ViewControllers/BaseControllers/JDBaseTableViewController.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>ViewControllers</string>
								<string>BaseControllers</string>
							</array>
							<key>Path</key>
							<string>src/ViewControllers/BaseControllers/JDBaseTableViewController.h</string>
						</dict>
						<key>src/ViewControllers/BaseControllers/JDBaseTableViewController.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>ViewControllers</string>
								<string>BaseControllers</string>
							</array>
							<key>Path</key>
							<string>src/ViewControllers/BaseControllers/JDBaseTableViewController.m</string>
						</dict>
						<key>src/ViewControllers/BaseControllers/JDBaseViewController.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>ViewControllers</string>
								<string>BaseControllers</string>
							</array>
							<key>Path</key>
							<string>src/ViewControllers/BaseControllers/JDBaseViewController.h</string>
						</dict>
						<key>src/ViewControllers/BaseControllers/JDBaseViewController.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>ViewControllers</string>
								<string>BaseControllers</string>
							</array>
							<key>Path</key>
							<string>src/ViewControllers/BaseControllers/JDBaseViewController.m</string>
						</dict>
						<key>src/Views/BaseViews/JDBaseButton.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Views</string>
								<string>BaseViews</string>
							</array>
							<key>Path</key>
							<string>src/Views/BaseViews/JDBaseButton.h</string>
						</dict>
						<key>src/Views/BaseViews/JDBaseButton.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Views</string>
								<string>BaseViews</string>
							</array>
							<key>Path</key>
							<string>src/Views/BaseViews/JDBaseButton.m</string>
						</dict>
						<key>src/Views/BaseViews/JDBaseCollectionViewCell.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Views</string>
								<string>BaseViews</string>
							</array>
							<key>Path</key>
							<string>src/Views/BaseViews/JDBaseCollectionViewCell.h</string>
						</dict>
						<key>src/Views/BaseViews/JDBaseCollectionViewCell.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Views</string>
								<string>BaseViews</string>
							</array>
							<key>Path</key>
							<string>src/Views/BaseViews/JDBaseCollectionViewCell.m</string>
						</dict>
						<key>src/Views/BaseViews/JDBaseTableViewCell.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Views</string>
								<string>BaseViews</string>
							</array>
							<key>Path</key>
							<string>src/Views/BaseViews/JDBaseTableViewCell.h</string>
						</dict>
						<key>src/Views/BaseViews/JDBaseTableViewCell.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Views</string>
								<string>BaseViews</string>
							</array>
							<key>Path</key>
							<string>src/Views/BaseViews/JDBaseTableViewCell.m</string>
						</dict>
						<key>src/Views/BaseViews/JDBaseView.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Views</string>
								<string>BaseViews</string>
							</array>
							<key>Path</key>
							<string>src/Views/BaseViews/JDBaseView.h</string>
						</dict>
						<key>src/Views/BaseViews/JDBaseView.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Views</string>
								<string>BaseViews</string>
							</array>
							<key>Path</key>
							<string>src/Views/BaseViews/JDBaseView.m</string>
						</dict>
						<key>src/Views/JDBadge/JDBadge.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Views</string>
								<string>JDBadge</string>
							</array>
							<key>Path</key>
							<string>src/Views/JDBadge/JDBadge.h</string>
						</dict>
						<key>src/Views/JDBadge/JDBadge.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Views</string>
								<string>JDBadge</string>
							</array>
							<key>Path</key>
							<string>src/Views/JDBadge/JDBadge.m</string>
						</dict>
						<key>src/Views/JDPlaceholderTextView/JDPlaceholderTextView.h</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Views</string>
								<string>JDPlaceholderTextView</string>
							</array>
							<key>Path</key>
							<string>src/Views/JDPlaceholderTextView/JDPlaceholderTextView.h</string>
						</dict>
						<key>src/Views/JDPlaceholderTextView/JDPlaceholderTextView.m</key>
						<dict>
							<key>Group</key>
							<array>
								<string>Views</string>
								<string>JDPlaceholderTextView</string>
							</array>
							<key>Path</key>
							<string>src/Views/JDPlaceholderTextView/JDPlaceholderTextView.m</string>
						</dict>
					</dict>
				</dict>
				<key>Swift</key>
				<dict>
					<key>Nodes</key>
					<array/>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
